@model BangazonWorkforceManagement.ViewModels.TrainingProgramDetailViewModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>TrainingProgram</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TrainingProgram.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TrainingProgram.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TrainingProgram.StartDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TrainingProgram.StartDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TrainingProgram.EndDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TrainingProgram.EndDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TrainingProgram.MaxAttendees)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TrainingProgram.MaxAttendees)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EmployeesAttending)
        </dt>
        <dd>
            @foreach(var employee in Model.EmployeesAttending)
            {
                <p>@employee.FirstName @employee.LastName</p>
            }
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.TrainingProgram.TrainingProgramId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
