@model BangazonWorkforceManagement.Models.Department

    <!--Worked on by Kathy & Joey, 8/23, 8/24-->
    <!-- Will diplay list of employees for each selected department-->

@{
    ViewData["Title"] = "Details";
}

<h2>Department Details</h2>

<div>
    <h3>@Html.DisplayFor(model => model.Name)</h3>
    <hr />
    <dl class="dl-horizontal">


        <dd>
            @foreach (var x in Model.Employees)
            {
                {<p><b>Employee:</b> @x.FirstName @x.LastName, <b>Employee ID:</b> @x.EmployeeId</p><br />}
            }

        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.DepartmentId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
