@model IEnumerable<BangazonWorkforceManagement.Models.Computer>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Manufacturer)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Make)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PurchaseDate)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Manufacturer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Make)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PurchaseDate)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ComputerId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ComputerId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ComputerId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
