@model BangazonWorkforceManagement.Models.Employee

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Employee</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Supervisor)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Supervisor)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Departments)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Departments.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FuturePrograms)
        </dt>
        <dd>
            @foreach (var x in Model.FuturePrograms)
            {<p>@x.Name</p><br />}
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AttendedPrograms)
        </dt>
        <dd>
            @foreach (var x in Model.AttendedPrograms)
            {<p>@x.Name @x.StartDate @x.EndDate</p><br />}
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NotAttendingPrograms)
        </dt>
        <dd>
            @foreach (var x in Model.NotAttendingPrograms)
            {<p>@x.Name @x.StartDate @x.EndDate</p><br />}
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.EmployeeId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
