@model IEnumerable<BangazonWorkforceManagement.Models.Employee>

@{
    ViewData["Title"] = "Index";
}

<!-- Worked on/completed by Joey 8/18, 8/21-->

<h2>Employees</h2>

<p> 
    <a asp-action="Create" class="btn btn-info" role="button">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.FirstName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LastName)
                </th>

            <th>
                @Html.DisplayNameFor(model => model.Departments)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                
                <a asp-action="Details" asp-route-id="@item.EmployeeId">@Html.DisplayFor(modelItem => item.FirstName)</a> 
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Departments.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.EmployeeId">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.EmployeeId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
